<form [formGroup]="form">
  <mat-card>
    <mat-card-title style="display: flex; justify-content: space-between">Login
      <a style="border-color: white" (click)="dialog.close()" routerLink="/home">
      <mat-icon>home</mat-icon>
    </a></mat-card-title>

    <mat-error *ngIf="error">{{error}}</mat-error>
    <mat-card-content>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="text" matInput formControlName="email">
          <mat-error>this field is required</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password">
          <mat-error>this field is required</mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions style=" display: flex; justify-content: space-between">
      <a routerLink="/register" (click)="dialog.close()">Register</a>
      <button [disabled]="form.invalid" mat-raised-button color="primary" (click)="login()">Login</button>
    </mat-card-actions>
  </mat-card>
</form>


