
<header>
  <h1>Welcome!</h1>
  <nav>
    <ul>
      <li><a routerLink="/posts">Нотатки</a></li>
    </ul>
  </nav>
</header>
<main>
  <section class="hero">
    <h2> Переглянь сайт і знайди те що тебе цікавить.</h2>
    <p>або</p>
    <p> Занотуй свою ідею чи мрію</p>
    <a routerLink="/createposts" class="cta">Get Started</a>
  </section>
  <section class="featured">
    <h2>Featured Content</h2>
    <ul>
      <li>
        <a href="#">
          <img src="https://picsum.photos/300/200?random=1" alt="Image">
          <h3>Просто радіти життю</h3>
          <p>Нехай маленькі радості роблять приємним щодня..</p>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="https://picsum.photos/300/200?random=2" alt="Image">
          <h3>Зупинити час</h3>
          <p>Щоб відштовхнутися від життя, треба спершу його торкнутися.</p>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="https://picsum.photos/300/200?random=3" alt="Image">
          <h3>Оглянутись навколо</h3>
          <p>Оглянутись навколо й знайти те, що відверне від очікування</p>
        </a>
      </li>
    </ul>
  </section>
</main>
<app-footer></app-footer>

